nav.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') XYZ
			a.navbar-brand(href='/services') Services
			a.navbar-brand(href='/posts') Posts
		#navbar.navbar-collapse.collapse
			.navbar-form.navbar-right
				.form-group
					input(type='text' placeholder='Email' class='form-control')
				.form-group
					input(type='password' placeholder='Password' class='form-control')
				button(type='submit' class='btn btn-success') Sign in
				button(type='submit' class='btn btn-primary' data-toggle='modal' data-target='#signupModal') Sign up
