script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script.
  window.jQuery || document.write('<script src="js/jquery.min.js"><\\/script>')
script(src='/js/bootstrap.min.js')
script(src='/js/xyz.js')
block scripts-custom
